.task {
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    margin: 0px;
    background-color: rgb(250, 240, 226);
    margin-left: 400px;
    margin-right: 400px;
}
.task li {
    padding: 7px;
    border:1px solid black;
    background-color: rgb(241, 230, 241);
}
.btn {
    margin-left: 10px;
}
.done  {
    color: lightgreen;
    
    
}